<h1>All the characters!</h1>

<% @characters.each do |character| %>
  <div class="character">
    <h2>Name: <%= character.name %></h2>
    <%= link_to "See the locations for this character", character_locations_path(character) %>
  </div>
<% end %>
