// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.location {
  border: 2px dotted mediumseagreen;
  border-radius: 15px;
  padding: 20px;
  margin: 10px auto;
}