// Place all the styles related to the heros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hero {
  border: 1px solid pink;
  border-radius: 15px;
  background-color: aquamarine;
  padding: 0 20px;
  margin: 10px auto;
}